python-dotenv==1.0.0
psycopg2-binary==2.9.8
alembic==1.12.0
fastapi==0.103.2
uvicorn==0.23.2
pytest==7.4.2
pytest-cov==4.1.0
fastapi-mail==1.4.1
pydantic==2.4.2
py-automapper==1.2.3
jinja2==3.1.2
anyio==3.7.1
httpx==0.25.0
passlib[bcrypt]==1.7.4
dramatiq[rabbitmq,watch]==1.14.2
typeguard==4.1.5
python-jose[cryptography]==3.3.0
requests==2.31.0
sqlalchemy==2.0.21
schedule==1.2.1
pdfkit==1.0.0